<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365BackupConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365BackupConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <behaviors />
    <services />
  </system.serviceModel>
  <!-- Nie wywalać! Ten kod jest potrzebny dla debugowania serwisów WCF! -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="J:\C2\Office365\Backup.Sharepoint\Output\Messages_Console.svclog"  />
        </listeners>
      </source>
      <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="J:\C2\Office365\Backup.Sharepoint\Output\WCF_Console.svclog"  />
        </listeners>
      </source>
    </sources>

    <trace autoflush="true" />
  </system.diagnostics>-->
  <userSettings>
    <Office365BackupConsole.Properties.Settings>
      <setting name="UrlCache" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchiveFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UrlBackupEngineLicensingService" serializeAs="String">
        <value>net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupLicensing/</value>
      </setting>
    </Office365BackupConsole.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Office365BackupConsole.Properties.Settings>
      <setting name="UrlBackupEngineService" serializeAs="String">
        <value>net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupEngine/</value>
      </setting>
      <setting name="UrlBackupStorageService" serializeAs="String">
        <value>net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupStorage/</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="UrlBackupEngineEventsService" serializeAs="String">
        <value>net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupStorageEvents/</value>
      </setting>
      <setting name="ListSiteCollectionsPackageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UrlBackupStorageStreamedService" serializeAs="String">
        <value>net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupFilesDownload/</value>
      </setting>
      <setting name="ThrottlingUIRetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ThrottlingUIBackOffTime" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LicenseReloadSleeptime" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="LogConsoleFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ServiceOpenTimeout" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="ServiceCloseTimeout" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="ServiceReadTimeout" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="ServiceWriteTimeout" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="SpRowLimitLibraryItemsAll" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SpRowLimitListItemsAll" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="SpPackageSizeFoldersQuery" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MailboxesCacheLifeTimeSeconds" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="SpMaxFolderId" serializeAs="String">
        <value>30000000</value>
      </setting>
      <setting name="SpPickerConcurrentTasks" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ConnectionWizardConfigureMaxTries" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ConnectionWizardConfigureSleepTimeSeconds" serializeAs="String">
        <value>30</value>
      </setting>
    </Office365BackupConsole.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.2.0" newVersion="4.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharePointPnP.IdentityModel.Extensions" publicKeyToken="5e633289e95c321a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.35.0.0" newVersion="3.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.1.0" newVersion="1.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.4" newVersion="4.3.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management.Automation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>