<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Office365Backup.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>      
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Office365Backup.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <Office365Backup.Configuration.Properties.Settings>
        <setting name="DumpExceptionStackTrace" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MaxBatchSize" serializeAs="String">
          <value>500</value>
        </setting>
        <setting name="MaxPackageSize" serializeAs="String">
          <value>20971520</value>
        </setting>
        <setting name="DiagnosticMessageFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="MaxPackageItems" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="CyclesHistoryLength" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="DiagnosticMailboxFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DefaultSleepBetweenCyclesMiliseconds" serializeAs="String">
          <value>15000</value>
        </setting>
        <setting name="MessagesMaxFailureCount" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="DiagnosticFolderSyncFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticRestoreFolderFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticRestoreMessageFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpSiteCollectionFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpSiteFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpListFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpFolderFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpItemFailures" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpAttachmentFailure" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DiagnosticSpVersionFailure" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="DisableIndexer" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MaxIndexerFileSize" serializeAs="String">
          <value>4194304000</value>
        </setting>
        <setting name="SpRowLimitListItemsAll" serializeAs="String">
          <value>250</value>
        </setting>
        <setting name="SpRowLimitItemsWritePackageSize" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="SpRowLimitListGetItemsByIds" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="SpLookupCreateMaxMinutes" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="MaxMilisecondsToSleepBeforeIndexMessage" serializeAs="String">
          <value>2500</value>
        </setting>
        <setting name="Exchange2013SlotsNumber" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Exchange2013MinimalSpeed" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="AnyExchangeSlotsNumber" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="AnyExchangeMinimalSpeed" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="LogToEventLog" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EventLogSource" serializeAs="String">
          <value>CodeTwo Backup</value>
        </setting>
        <setting name="MaxTasksBackupSiteCollection" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="MaxTasksBackupSite" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="MaxTasksBackupList" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="MaxTasksBackupItems" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="MaxExBackupSlotCount" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="MaxExBackupSnapshotSizeMB" serializeAs="String">
          <value>16</value>
        </setting>
        <setting name="MaxExBackupSnapshotItemsCount" serializeAs="String">
          <value>250</value>
        </setting>
        <setting name="SpRowLimitLibraryItemsAll" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="SpRowLimitListItemsChanged" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="SpDbLockTimeout" serializeAs="String">
          <value>240000</value>
        </setting>
        <setting name="DefaultThrottlingBackOffTime" serializeAs="String">
          <value>120000</value>
        </setting>
        <setting name="MaxExRestoreSlotCount" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="DefaultConnectionLimit" serializeAs="String">
          <value>40</value>
        </setting>
        <setting name="MaxAlertCyclesCount" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="SpSimulateThrottling" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ExDbLockTimeout" serializeAs="String">
          <value>240000</value>
        </setting>
        <setting name="LogEngineFilesCount" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="LogIndexerFilesCount" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="LogLicensingFilesCount" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="LogJobFilesCount" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="StorageSearchSettings_MinKeywordLength" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="StorageSearchSettings_ExcludedKeywords" serializeAs="String">
          <value>the;and</value>
        </setting>
        <setting name="Flush_Alerts_Counter" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="Flush_JobState_Counter" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="Flush_JobState_Timer_MS" serializeAs="String">
          <value>5000</value>
        </setting>
        <setting name="LogExchangeFilesCount" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="RecipientTypeDetailsFlag" serializeAs="String">
          <value>10438918017077</value>
        </setting>
        <setting name="ArchivePageSize" serializeAs="String">
          <value>10485760</value>
        </setting>
        <setting name="SpPackageSizeFoldersQuery" serializeAs="String">
          <value>5000</value>
        </setting>
        <setting name="SpMaxListItems" serializeAs="String">
          <value>30000000</value>
        </setting>
        <setting name="SpUploadAttachmentTimeout" serializeAs="String">
          <value>1000000</value>
        </setting>
        <setting name="SpBackupQueueMaxLength" serializeAs="String">
          <value>100000</value>
        </setting>
        <setting name="FullSharePointBackupForced" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="GoodNewsRetentionDays" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="BadNewsRetentionDays" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="CreateIndexerDocumentIdIndex" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DontGenerateBackupAlertOnCommunicationProblems" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DumpExceptionObject" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="JobSuspendedWaitForObjectTimeoutSeconds" serializeAs="String">
          <value>-1</value>
        </setting>
      </Office365Backup.Configuration.Properties.Settings>      
    </applicationSettings>
    <userSettings>
        <Office365Backup.Configuration.Properties.Settings>
            <setting name="DiagnosticMinFailureCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiagnosticArchiveFailures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpDiagnosticMessageFailures" serializeAs="String">
                <value>False</value>
            </setting>
        </Office365Backup.Configuration.Properties.Settings>        
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
