<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365Backup.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365Backup.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="namedPipesBindingConfiguration" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="1073741824" maxBytesPerRead="2147483647" />
        </binding>
        <binding name="namedPipesBindingConfigurationStreamed" transferMode="StreamedResponse" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1073741824" maxReceivedMessageSize="9223372036854775807">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="1073741824" maxBytesPerRead="2147483647" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehaviour">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Office365Backup.Engine.Service.ServiceBackupEngine">
        <endpoint address="net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupEngine/" binding="netNamedPipeBinding" bindingConfiguration="namedPipesBindingConfiguration" name="EndpointPipes" contract="Office365Backup.Common.IServiceBackupEngine" />
      </service>
      <service name="Office365Backup.Engine.Service.ServiceBackupStorage">
        <endpoint address="net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupStorage/" binding="netNamedPipeBinding" bindingConfiguration="namedPipesBindingConfiguration" name="EndpointPipes" contract="Office365Backup.Common.IServiceBackupStorage" />
      </service>
      <service name="Office365Backup.Engine.Service.ServiceBackupEngineEvents">
        <endpoint address="net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupStorageEvents/" binding="netNamedPipeBinding" bindingConfiguration="namedPipesBindingConfiguration" name="EndpointPipes" contract="Office365Backup.Common.IServiceBackupEngineEvents" />
      </service>
      <service name="Office365Backup.Engine.Service.ServiceBackupFilesDownload">
        <endpoint address="net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupFilesDownload/" binding="netNamedPipeBinding" bindingConfiguration="namedPipesBindingConfigurationStreamed" name="EndpointPipes" contract="Office365Backup.Common.IServiceBackupStorageFilesDownload" />
      </service>
      <service name="Office365Backup.Engine.Service.ServiceBackupEngineLicensing">
        <endpoint address="net.pipe://localhost/CodeTwoBackup.Engine.Service/ServiceBackupLicensing/" binding="netNamedPipeBinding" bindingConfiguration="namedPipesBindingConfiguration" name="EndpointPipes" contract="Office365Backup.Common.IServiceBackupEngineLicensing" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <Office365Backup.Configuration.Properties.Settings>
      <setting name="DumpExceptionStackTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxBatchSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MaxPackageSize" serializeAs="String">
        <value>20971520</value>
      </setting>
      <setting name="DiagnosticMessageFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxPackageItems" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CyclesHistoryLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DiagnosticMailboxFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultSleepBetweenCyclesMiliseconds" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="MessagesMaxFailureCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DiagnosticFolderSyncFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticRestoreFolderFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticRestoreMessageFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpSiteCollectionFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpSiteFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpListFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpFolderFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpItemFailures" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpAttachmentFailure" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticSpVersionFailure" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisableIndexer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxIndexerFileSize" serializeAs="String">
        <value>4194304000</value>
      </setting>
      <setting name="SpRowLimitListItemsAll" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="SpRowLimitItemsWritePackageSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SpRowLimitListGetItemsByIds" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SpLookupCreateMaxMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MaxMilisecondsToSleepBeforeIndexMessage" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="Exchange2013SlotsNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Exchange2013MinimalSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AnyExchangeSlotsNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AnyExchangeMinimalSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogToEventLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value>CodeTwo Backup</value>
      </setting>
      <setting name="MaxTasksBackupSiteCollection" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxTasksBackupSite" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxTasksBackupList" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxTasksBackupItems" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxExBackupSlotCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxExBackupSnapshotSizeMB" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="MaxExBackupSnapshotItemsCount" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="SpRowLimitLibraryItemsAll" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SpRowLimitListItemsChanged" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SpDbLockTimeout" serializeAs="String">
        <value>240000</value>
      </setting>
      <setting name="DefaultThrottlingBackOffTime" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="MaxExRestoreSlotCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UploadMaxAttempts" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultConnectionLimit" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="FlushAlertsPeriodMiliseconds" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="MaxAlertCyclesCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DownloadRetryCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExDbLockTimeout" serializeAs="String">
        <value>240000</value>
      </setting>
      <setting name="LogEngineFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LogIndexerFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LogLicensingFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LogJobFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="StorageSearchSettings_MinKeywordLength" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StorageSearchSettings_ExcludedKeywords" serializeAs="String">
        <value>the;and</value>
      </setting>
      <setting name="Flush_Alerts_Counter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Flush_JobState_Counter" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Flush_JobState_Timer_MS" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="LogExchangeFilesCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ArchivePageSize" serializeAs="String">
        <value>10485760</value>
      </setting>
      <setting name="SpPackageSizeFoldersQuery" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SpMaxListItems" serializeAs="String">
        <value>30000000</value>
      </setting>
      <setting name="SpUploadAttachmentTimeout" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="SpBackupQueueMaxLength" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="GoodNewsRetentionDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="BadNewsRetentionDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CreateIndexerDocumentIdIndex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontGenerateBackupAlertOnCommunicationProblems" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DumpExceptionObject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JobSuspendedWaitForObjectTimeoutSeconds" serializeAs="String">
        <value>-1</value>
      </setting>
    </Office365Backup.Configuration.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Office365Backup.Configuration.Properties.Settings>
      <setting name="DiagnosticMinFailureCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiagnosticArchiveFailures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpDiagnosticMessageFailures" serializeAs="String">
        <value>False</value>
      </setting>
    </Office365Backup.Configuration.Properties.Settings>
  </userSettings>
  <!-- Nie wywalać! Ten kod jest potrzebny dla debugowania serwisów WCF! -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="J:\C2\Office365\Backup.Sharepoint\Output\Messages.svclog"  />
        </listeners>
      </source>
      <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="J:\C2\Office365\Backup.Sharepoint\Output\WCF.svclog"  />
        </listeners>
      </source>
    </sources>

    <trace autoflush="true" />
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.2.0" newVersion="4.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharePointPnP.IdentityModel.Extensions" publicKeyToken="5e633289e95c321a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.35.0.0" newVersion="3.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.1.0" newVersion="1.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.4" newVersion="4.3.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>