<?xml version="1.0" encoding="utf-8"?>
<HelpConfig xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.codetwo.com">
  <!--Link na about boksie w sekcji copyright.-->
  <AboutBoxCopyrightLink>https://www.codetwo.com/</AboutBoxCopyrightLink>
  <!--Help na dialogu do ustawiania settingsów dla bad news.-->
  <AlertSettingsBadNewsManualLink>https://www.codetwo.com/userguide/backup/2.4/dashboard.htm#alerts</AlertSettingsBadNewsManualLink>
  <!--Link do manuala dla good news-->
  <AlertSettingsGoodNewsManualLink>https://www.codetwo.com/userguide/backup/2.4/dashboard.htm#alerts</AlertSettingsGoodNewsManualLink>
  <!--Connection wizard. Link learn more na checku impersonation.-->
  <ConnWizardImpersonationCheckLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-exchange-connectivity.htm#exchange-impersonation</ConnWizardImpersonationCheckLearnMoreLink>
  <!--Connection wizard. Link learn more na checku impersonation w przypadku gdy pojawi się warning a nie error.-->
  <ConnWizardImpersonationCheckWarningLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-exchange-connectivity.htm#servers-ip</ConnWizardImpersonationCheckWarningLearnMoreLink>
  <!--Connection wizard. Link learn more na checku powershella.-->
  <ConnWizardPowershellCheckLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-exchange-connectivity.htm#exchange-powershell</ConnWizardPowershellCheckLearnMoreLink>
  <!--Connection wizard. Link learn more na checku powershella w przypadku gdy pojawi się warning a nie error.-->
  <ConnWizardPowershellWarningCheckLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-exchange-connectivity.htm#servers-ip</ConnWizardPowershellWarningCheckLearnMoreLink>
  <!--Connection wizard. Link learn more na checku connectivity.-->
  <ConnWizardServerConnectivityCheckLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-exchange-connectivity.htm#exchange-connectivity</ConnWizardServerConnectivityCheckLearnMoreLink>
  <!--Connection wizard.-->
  <ConnWizardUrlHelpAdminAccountHosted>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#o365-credentials</ConnWizardUrlHelpAdminAccountHosted>
  <!--Connection wizard.-->
  <ConnWizardUrlHelpAdminAccountOnPremises>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#on-prem-credentials</ConnWizardUrlHelpAdminAccountOnPremises>
  <!--Connection wizard.-->
  <ConnWizardUrlHelpCheckList>https://www.codetwo.com/userguide/backup/2.4/troubleshooting.htm</ConnWizardUrlHelpCheckList> 
  <!--Connection wizard.-->
  <ConnWizardUrlHelpCloudType>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#o365-cloud</ConnWizardUrlHelpCloudType>
  <!--Connection wizard.-->
  <ConnWizardUrlHelpServerLocation>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#on-prem-server-connection</ConnWizardUrlHelpServerLocation>
  <!--Connection wizard.-->
  <ConnWizardUrlHelpServerType>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm</ConnWizardUrlHelpServerType>
  <!--Link do strony kontaktu z supportem.-->
  <ContactSupport>https://www.codetwo.com/support</ContactSupport>
  <!--Link do dokumentacji o tym, jak zachowuje się program przy aktywowaniu i które licencje zje-->
  <LearnMoreActivationInformation>https://www.codetwo.com/userguide/backup/2.4/activation.htm</LearnMoreActivationInformation>
  <!--Link do dokumentacji o tym, jak zachowuje się program przy ustawionych filtrach w jobie backupującym SharePointa-->
  <LearnMoreBackupSharepointFilters>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#filters</LearnMoreBackupSharepointFilters>
  <!--Link do dokumentacji o tym, jak zachowuje się program przy ustawionych opcjach kolizji dla joba restorującego SharePoint (Overwrite options - overwrite only specific parts and attributes of object). Link w oknie: Parts and attributes of the objects to overwrite-->
  <LearnMoreCollisionOptions>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#overwrite-specific-attributes</LearnMoreCollisionOptions>
  <!-- Link do manuala opisującego jak ustawić wersjonowanie dla listy lub library -->
  <LearnMoreListVersioningSettings>https://www.codetwo.com/kb/restore-sharepoint-versioning-settings</LearnMoreListVersioningSettings>
  <!--Lind do strony o tym, jak konfigurować połączenie w przypadku MFA-->
  <LearnMoreMFA>https://www.codetwo.com/userguide/backup/server-connections.htm#mfa</LearnMoreMFA>
  <!--Link do dokumentacji o tym, jakie znaczenie ma ustawienie filtrów restorowania dla jobów sharepointowych (zakładka: Filters)-->
  <LearnMoreRestoreFilters>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#filters</LearnMoreRestoreFilters>
  <!--Link do manuala, gdzie tłumaczymy w jaki sposob restorowac team site i ich O365 group mailboxy.-->
  <LearnMoreRestoreTeamSitesAndGroupMailboxes>https://www.codetwo.com/userguide/backup/2.4/restore-exchange.htm#data-selection</LearnMoreRestoreTeamSitesAndGroupMailboxes>
  <!--Okno informacji o licencji. Link Learn more.-->
  <LicenseInformationLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/licensing.htm</LicenseInformationLearnMoreLink>
  <!--Link do głównej strony programu-->
  <ProgramWebsite>https://www.codetwo.com/backup-for-office-365</ProgramWebsite>
  <!--Link do kb opisującego sposób usunięcia mailboxa ze storaga-->
  <RemoveMailboxKBLink>https://www.codetwo.com/kb/815</RemoveMailboxKBLink>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a konfiguracji konta administratrora na O365.-->
  <SpConnWizardAdminAccountHostedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#o365-credentials</SpConnWizardAdminAccountHostedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a konfiguracji konta administratrora na onpremises.-->
  <SpConnWizardAdminAccountOnPremisesHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#on-prem-credentials</SpConnWizardAdminAccountOnPremisesHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more w detalach błędu przy nie udanym połączeniu do serwisu admina (po kliknięciu linku Failure). Dotyczy tylko połączenia onpremowego.-->
  <SpConnWizardAdminSiteConnectionFailedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#admin-service</SpConnWizardAdminSiteConnectionFailedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a sprawdzania konfiguracji połączenia na O365.-->
  <SpConnWizardConfigurationHostedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#o365-configuration</SpConnWizardConfigurationHostedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla Warninga włączenia Legacy Connection dla połączenia na O365.-->
  <SpConnWizardConfigurationHostedLegacyWarningHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#security-defaults</SpConnWizardConfigurationHostedLegacyWarningHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a sprawdzania konfiguracji połączenia na onpremises.-->
  <SpConnWizardConfigurationOnPremisesHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#on-prem-configuration</SpConnWizardConfigurationOnPremisesHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more w detalach błędu przy nie udanej enumeracji site collectionów dla online.-->
  <SpConnWizardEnumerateSiteCollectionsFailedHostedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#enumerating-sites</SpConnWizardEnumerateSiteCollectionsFailedHostedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more w detalach błędu przy nie udanej enumeracji site collectionów dla onprema.-->
  <SpConnWizardEnumerateSiteCollectionsFailedOnPremisesHelpUrl>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#connection-on-prem</SpConnWizardEnumerateSiteCollectionsFailedOnPremisesHelpUrl> 
  <!--Wizard połączenia sharepointowego. Learn more dla page'a konfiguracji połączenia do serwera O365.-->
  <SpConnWizardServerConnectionHostedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#o365-server-address</SpConnWizardServerConnectionHostedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a konfiguracji połączenia do serwera onpremises.-->
  <SpConnWizardServerConnectionOnPremisesHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm#on-prem-server-address</SpConnWizardServerConnectionOnPremisesHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more dla page'a wyboru typu połączenia.-->
  <SpConnWizardServerTypeHelpUrl>https://www.codetwo.com/userguide/backup/2.4/sharepoint-connection.htm</SpConnWizardServerTypeHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more w detalach błędu przy nie udanym połączeniu do wybranego sitea SharePointa. Połączenie do O365.-->
  <SpConnWizardSiteConnectionFailedHostedHelpUrl>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#test-connection-o365</SpConnWizardSiteConnectionFailedHostedHelpUrl>
  <!--Wizard połączenia sharepointowego. Learn more w detalach błędu przy nie udanym połączeniu do wybranego sitea SharePointa. Połączenie do onprema.-->
  <SpConnWizardSiteConnectionFailedOnPremisesHelpUrl>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#test-connection-on-prem</SpConnWizardSiteConnectionFailedOnPremisesHelpUrl>
  <!-- Link z helpem nt. błedu synchronizacji listy przy backupie przyrostowym z przekroczeniem maksymalnej ilości wierszy listy / biblioteki  -->
  <SpListViewThresholdHelpUrl>https://www.codetwo.com/kb/troubleshoot-list-view-threshold-problem</SpListViewThresholdHelpUrl>
  <!-- Help z informacją na temat SharePoint Online Management Shell -->
  <SpSPOManagementShellHelpUrl>https://www.codetwo.com/userguide/backup/2.4/installation-process.htm#SPO-management-shell</SpSPOManagementShellHelpUrl>
  <!--StorageWizard: Recovery Key-->
  <StorageWizardRecoveryKeyLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/create-storage.htm#recovery-key</StorageWizardRecoveryKeyLearnMoreLink>
  <!--Storage wizard: Retention Exchange-->
  <StorageWizardRetentionExLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/create-storage.htm#storage-retention-exchange</StorageWizardRetentionExLearnMoreLink>
  <!--Storage wizard: Retention Scheduler-->
  <StorageWizardRetentionSchedulerLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/create-storage.htm#retention-schedule</StorageWizardRetentionSchedulerLearnMoreLink>
  <!--Storage wizard: Retention SharePoint-->
  <StorageWizardRetentionSpLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/create-storage.htm#storage-retention-sharepoint</StorageWizardRetentionSpLearnMoreLink>
  <!--Storage wizard: Target archive-->
  <StorageWizardTargetArchiveLearnMoreLink>https://www.codetwo.com/userguide/backup/2.4/archive-job.htm#target-archive</StorageWizardTargetArchiveLearnMoreLink>
  <!--Link do manuala dla dialogu z historią cykli joba archiwizującego-->
  <UrlArchiveCyclesHistoryLearnMore>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#archive-history</UrlArchiveCyclesHistoryLearnMore> 
  <!--Wizard tworzenia joba archiwizującego. Link Learn more.-->
  <UrlArchiveHelpUrl>https://www.codetwo.com/userguide/backup/2.4/archive-job.htm#job-name</UrlArchiveHelpUrl>
  <!--Retencja w wizardzie tworzenia joba archiwizującego. Link Learn more.-->
  <UrlArchiveRetentionHelpUrl>https://www.codetwo.com/userguide/backup/2.4/archive-job.htm#archive-retention</UrlArchiveRetentionHelpUrl>
  <!--Wyświetlany dla warningów związanych z włączanie retencji (brak joba archiwizującego, brak schedulera joba archiwizującego)-->
  <UrlArchiveRetentionWarning>https://www.codetwo.com/userguide/backup/2.4/data-retention.htm#storage</UrlArchiveRetentionWarning>  
  <!--Scheduler w wizardzie tworzenia joba archiwizującego. Link Learn more.-->
  <UrlArchiveSchedulerHelpUrl>https://www.codetwo.com/userguide/backup/2.4/archive-job.htm#scheduler</UrlArchiveSchedulerHelpUrl>
  <!--Link do manuala dla dialogu z historią cykli joba archiwizującego do PST-->
  <UrlArchiveToPstCyclesHistoryLearnMore>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#archive-history</UrlArchiveToPstCyclesHistoryLearnMore>   
  <!--Link do manuala dla dialogu z historią cykli backupa exchangowego-->
  <UrlBackupCyclesHistoryLearnMoreExchange>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#previous-cycles</UrlBackupCyclesHistoryLearnMoreExchange> 
  <!--Link do manuala dla dialogu z historią cykli backupa sharepointowego-->
  <UrlBackupCyclesHistoryLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#previous-cycles</UrlBackupCyclesHistoryLearnMoreSharePoint>
  <!-- Link do manuala, gdzie piszemy jak backupować group mailboxa powiązanego z team site'em -->
  <UrlBackupsTeamSiteGroupMailboxLearnMore>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm</UrlBackupsTeamSiteGroupMailboxLearnMore>
  <!--Link do strony zakupu pełnej wersji programu.-->
  <UrlBuyFullVersion>https://orders.codetwo.com/Order/Backup/LicenseType/en</UrlBuyFullVersion>
  <!-- Link do naszego KB związanego z błędami CAPI2 -->
  <UrlCapi2Help>https://www.codetwo.com/kb/troubleshooting-certificate-validation-problems</UrlCapi2Help>
  <!--Link do strony sprawdzającej aktualność wersji.-->
  <UrlCheckForUpdatesUrlPart>https://www.codetwo.com/check-for-updates/backup/{0}</UrlCheckForUpdatesUrlPart>
  <!--Connection wizard. Steps to consider. Link learn more przy punkcie 'Change EWS request size limit.'-->
  <UrlEwsRequestSizeLimit>https://www.codetwo.com/kb/changing-the-message-size-limit</UrlEwsRequestSizeLimit>
  <!--Connection wizard. Testowanie połaczenia. Help na dialogu do testowania połączeń z Microsoft 365.-->
  <UrlHelpTestRightsHostedExchange>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#o365-test</UrlHelpTestRightsHostedExchange>
  <!--Connection wizard. Testowanie połaczenia. Help na dialogu do testowania połączeń on premises.-->
  <UrlHelpTestRightsOnPremises>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#on-prem-test</UrlHelpTestRightsOnPremises>
  <!--Connection wizard. Testowanie połaczenia. Help na dialogu do browsowania userów z Microsoft 365.-->
  <UrlHelpUsersBrowserHostedExchange>https://www.codetwo.com/userguide/backup/2.4/exchange-connection.htm#o365-test</UrlHelpUsersBrowserHostedExchange>
  <!--Wizard tworzenia joba importującego archiwum. Link Learn more.-->
  <UrlImportArchiveHelpUrl>https://www.codetwo.com/userguide/backup/2.4/importing-archives.htm</UrlImportArchiveHelpUrl>
  <!--Link do KB związanego z problemem weryfikacji licensji.-->
  <UrlLicenseFileCorruptHelp>https://www.codetwo.com/kb/license-status-verification-problem/#deleting-licensing-files</UrlLicenseFileCorruptHelp>
  <!--Dialog licencjonowania. Link more info.-->
  <UrlLicensingDialogMoreInfo>https://www.codetwo.com/userguide/backup/2.4/licensing.htm#license-key</UrlLicensingDialogMoreInfo>
  <!--Dialog licencjonowania. Link purchase.-->
  <UrlLicensingDialogPurchase>https://orders.codetwo.com/Order/Backup/LicenseType/en</UrlLicensingDialogPurchase>
  <!--Learn more w oknie details licencji-->
  <UrlLicensingHelpDetailsLearnMore>https://www.codetwo.com/userguide/backup/licensing.htm#releasing-licenses</UrlLicensingHelpDetailsLearnMore>
  <!-- Link do helpa z dokupywaniem licencji -->
  <UrlLicensingHelpExtendLicenses>https://www.codetwo.com/userguide/backup/2.4/licensing.htm#extend-licenses</UrlLicensingHelpExtendLicenses>
  <!-- Link do helpa ze zwalnianiem mailboxów -->
  <UrlLicensingHelpReleaseMailboxes>https://www.codetwo.com/userguide/backup/2.4/licensing.htm#releasing-mailboxes</UrlLicensingHelpReleaseMailboxes>  
  <!-- Link typu learn more w oknie zuzycia licencji -->
  <UrlLicensingUsageDialogLearnMore>https://www.codetwo.com/userguide/backup/2.4/licensing.htm#license-usage</UrlLicensingUsageDialogLearnMore>
  <!--Link do manuala dla dialogu ze statystykami backupu mailboxów i PF-->
  <UrlMailboxesBackupStatusLearnMore>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#exchange-status</UrlMailboxesBackupStatusLearnMore>  
  <!--Dialog Dialog aktywacji manualnej. Link Learn more.-->
  <UrlManualActivationHelpUrl>https://www.codetwo.com/kb/manual-activation</UrlManualActivationHelpUrl>
  <!--Wizard tworzenia joba eksportującego do PST. Link Learn more.-->
  <UrlPSTArchiveHelpUrl>https://www.codetwo.com/userguide/backup/2.4/pst-archive.htm</UrlPSTArchiveHelpUrl>
  <!--Retencja w wizardzie tworzenia joba eksportującego do PST. Link Learn more.-->
  <UrlPSTArchiveRetentionHelpUrl>https://www.codetwo.com/userguide/backup/2.4/pst-archive.htm#archive-retention</UrlPSTArchiveRetentionHelpUrl>
  <!--Scheduler w wizardzie tworzenia joba eksportującego do PST. Link Learn more.-->
  <UrlPSTArchiveSchedulerHelpUrl>https://www.codetwo.com/userguide/backup/2.4/pst-archive.htm#scheduler</UrlPSTArchiveSchedulerHelpUrl>
  <!--Link do manuala jak stworzyć Public Folders na OnPrem oraz Microsoft 365-->
  <UrlPfNotFoundKBLink>https://www.codetwo.com/kb/how-to-create-public-folders</UrlPfNotFoundKBLink>
  <!--Dialog retail version expired. Link renew subscription.-->
  <UrlRetailExpiredRenewSubscription>https://orders.codetwo.com/Order/Backup/LicenseType/en</UrlRetailExpiredRenewSubscription>
  <!--Link do przesyłania feedbacku. Obecnie zlokalizowany na dashboardzie.-->
  <UrlSendFeedback>https://www.codetwo.com/form/feedback/backup</UrlSendFeedback>
  <!--Link do manuala dla dialogu ze statystykami backupu siteów-->
  <UrlSitesBackupStatusLearnMore>https://www.codetwo.com/userguide/backup/2.4/job-progress.htm#sharepoint-status</UrlSitesBackupStatusLearnMore>
  <!--Link do manuala z możliwymi przyczynami problemu połączenia do sharepointa z legacy authentication-->
  <UrlSpConnectionHelpLegacyAuthenticationProblem>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm#legacy-authentication</UrlSpConnectionHelpLegacyAuthenticationProblem>
  <!-- Link do kb jak zmienić czas oczekiwania na tłumaczenie lookupów w configu. -->
  <UrlSpHelpLookupChange>https://www.codetwo.com/kb/lookup-creation-time-limit-change/</UrlSpHelpLookupChange>
  <!--Link do manuala dla dialogu mapowania uprawnień-->
  <UrlSpMapPermisionsLearnMore>https://www.codetwo.com/userguide/backup/2.4/mapping.htm#custom-objects</UrlSpMapPermisionsLearnMore>
  <!--Link do manuala dla dialogu mapowania userów i grup-->
  <UrlSpMapUsersLearnMore>https://www.codetwo.com/userguide/backup/2.4/mapping.htm#custom-objects</UrlSpMapUsersLearnMore>
  <!--Link do manuala dla pickera wyboru siteów do backupu-->
  <UrlSpSitesToBackupPickerLearnMore>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#back-up-selected-sites</UrlSpSitesToBackupPickerLearnMore>
  <!--Link do troubleshootingu-->
  <UrlSpTroubleshooting>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm</UrlSpTroubleshooting>
  <!--Connection wizard. Steps to consider. Link learn more przy punkcie 'Create throttling policy.'-->
  <UrlThrottlingPolicy>https://www.codetwo.com/kb/changing-the-connection-speed-limit</UrlThrottlingPolicy>
  <!--Link do wyjaśnienia o co chodzi z filtrami czasowymi-->
  <UrlTimeFilterLearnMore>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm#time-filter</UrlTimeFilterLearnMore>
  <!--Link do manuala dla zakładki Activity periods w wizardzie joba backupującego Exchange-->
  <UrlWizardBackupJobActivityPeriodsLearnMoreEx>https://www.codetwo.com/userguide/backup/2.4/scheduling.htm</UrlWizardBackupJobActivityPeriodsLearnMoreEx>
  <!--Link do manuala dla zakładki Activity periods w wizardzie joba backupującego Sharepoint-->
  <UrlWizardBackupJobActivityPeriodsLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/scheduling.htm</UrlWizardBackupJobActivityPeriodsLearnMoreSp>
  <!--Link do manuala dla zakładki Job continuity w wizardzie joba backupującego Exchange-->
  <UrlWizardBackupJobContinuityLearnMore>https://www.codetwo.com/userguide/backup/2.4/backup-model.htm</UrlWizardBackupJobContinuityLearnMore>
  <!--Link do manuala dla zakładki Job continuity w wizardzie joba backupującego SharePoint-->
  <UrlWizardBackupJobContinuityLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/backup-model.htm</UrlWizardBackupJobContinuityLearnMoreSp>
  <!--Link do manuala dla zakładki Mailboxes w wizardzie joba backupującego Exchange-->
  <UrlWizardBackupJobMailboxesLearnMore>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm#mailboxes</UrlWizardBackupJobMailboxesLearnMore>
  <!-- Link do manuala dla zakładki Microsoft 365 group mailboxes w wizardzie joba backupującego Exchange -->
  <UrlWizardBackupJobOffice365GroupMailboxesLearnMore>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm#groups</UrlWizardBackupJobOffice365GroupMailboxesLearnMore>  
  <!--Link do manuala dla zakładki OneDrive sites w wizardzie joba backupującego Sharepoint-->
  <UrlWizardBackupJobOneDriveSitesLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#onedrive-sites</UrlWizardBackupJobOneDriveSitesLearnMoreSp>
  <!--Link do manuala dla zakładki Site mailboxes w wizardzie joba backupującego Exchange-->
  <UrlWizardBackupJobSiteMailboxesLearnMore>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm#site-mailboxes</UrlWizardBackupJobSiteMailboxesLearnMore>
  <!--Link do manuala dla zakładki Sites w wizardzie joba backupującego Sharepoint-->
  <UrlWizardBackupJobSitesLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#sites</UrlWizardBackupJobSitesLearnMoreSp>
  <!--Link do manuala dla zakładki Target storage w wizardzie joba backupującego Exchange-->
  <UrlWizardBackupJobTargetStorageLearnMoreEx>https://www.codetwo.com/userguide/backup/2.4/exchange-backup.htm#target-storage</UrlWizardBackupJobTargetStorageLearnMoreEx>
  <!--Link do manuala dla zakładki Target storage w wizardzie joba backupującego Sharepoint-->
  <UrlWizardBackupJobTargetStorageLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#target-storage</UrlWizardBackupJobTargetStorageLearnMoreSp>
  <!--Link do manuala dla zakładki OneDrive team sites w wizardzie joba backupującego Sharepoint-->
  <UrlWizardBackupJobTeamSitesLearnMoreSp>https://www.codetwo.com/userguide/backup/2.4/sharepoint-backup.htm#team-sites</UrlWizardBackupJobTeamSitesLearnMoreSp>  
  <!--Link do KB w komunikacie błędu listowania userów w wizardzie joba Sharepoint -->
  <UrlWizardJobFailedToListSitesErrorLearnMore>https://www.codetwo.com/userguide/backup/2.4/troubleshooting-sharepoint.htm</UrlWizardJobFailedToListSitesErrorLearnMore>  
  <!--Link do manuala dla zakładki Overwrite options w wizardzie joba restorującego exchangowego-->
  <UrlWizardRestoreJobOverwriteOptionsLearnMoreExchange>https://www.codetwo.com/userguide/backup/2.4/restore-exchange.htm#overwrite</UrlWizardRestoreJobOverwriteOptionsLearnMoreExchange>
  <!--Link do manuala dla zakładki Overwrite options w wizardzie joba restorującego sharepointowego-->
  <UrlWizardRestoreJobOverwriteOptionsLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#overwrite</UrlWizardRestoreJobOverwriteOptionsLearnMoreSharePoint>
  <!--Link do manuala dla zakładki Permissions w wizardzie joba restorującego sharepointowego-->
  <UrlWizardRestoreJobPermissionsLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#permissions</UrlWizardRestoreJobPermissionsLearnMoreSharePoint>
  <!--Link do manuala dla zakładki Source data w wizardzie joba restorującego exchangowego-->
  <UrlWizardRestoreJobSourceDataLearnMoreExchange>https://www.codetwo.com/userguide/backup/2.4/restore-exchange.htm#source-data</UrlWizardRestoreJobSourceDataLearnMoreExchange>
  <!--Link do manuala dla zakładki Source data w wizardzie joba restorującego sharepointowego-->
  <UrlWizardRestoreJobSourceDataLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#source-data</UrlWizardRestoreJobSourceDataLearnMoreSharePoint>
  <!--Link do manuala dotyczący warninga o langage packach dla zakładki Target location w wizardzie joba restorującego sharepointowego-->
  <UrlWizardRestoreJobTargetLocationLanguageWarningLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#language-packs</UrlWizardRestoreJobTargetLocationLanguageWarningLearnMoreSharePoint>
  <!--Link do manuala dla zakładki Target location w wizardzie joba restorującego exchange -->
  <UrlWizardRestoreJobTargetLocationLearnMore>https://www.codetwo.com/userguide/backup/2.4/restore-exchange.htm#target-location</UrlWizardRestoreJobTargetLocationLearnMore>  
  <!--Link do manuala dla zakładki Target location w wizardzie joba restorującego sharepointowego-->
  <UrlWizardRestoreJobTargetLocationLearnMoreSharePoint>https://www.codetwo.com/userguide/backup/2.4/restore-sharepoint.htm#target-location</UrlWizardRestoreJobTargetLocationLearnMoreSharePoint>
  <!--Link do manuala.-->
  <UsersManual>https://www.codetwo.com/userguide/backup/2.4/overview.htm</UsersManual>
</HelpConfig>